<h1>NameFacts</h1>
<p>Random silly, obvious facts about your name!</p>

 <%= form_tag("/main_page/home", :method => "get") do %>
  <%= label_tag(:full_name, "Search for:") %>
  <%= text_field_tag(:full_name) %>
  <%= submit_tag("Search") %>
<% end %>


<%= 
	"Your name is '#{params[:full_name]}'." %>