<h1>NameFacts</h1>
<p>Random silly, obvious facts about your name!</p>

 <%= form_tag("/main_page/home", :method => "get") do %>
 <p2> Enter your name (First Last:) <br> </p2>
  <%= label_tag(:full_name, "") %>
  <%= text_field_tag (:full_name), params[:full_name], :maxlength => 30, :size => 31 %>
  <%= submit_tag("Get a random fact") %>
<% end %>

<%= puts "Enter your name in the text field."  %>

<%= if params[:full_name] == ""
	"You haven't typed in your name yet."
elsif params[:full_name] == nil
	"Your random fact will appear here."
else
"Your name backwards is #{params[:full_name].reverse}."
 end %>