<h1>NameFacts</h1>
<p>Random silly, obvious facts about your name!</p>

 <%= form_tag("/main_page/home", :method => "get") do %>
  <%= label_tag(:q, "Enter your name (First Last):") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Get a random fact") %>
  <% end %>

<% whole_name = :q %>
<%= if :q.empty?
	"You haven't written your name yet"
else
	"Your name is '#{:q}'."
end %>